/* A debug class, used to separate components graphically during development */
.debug {
    border-style: solid;
}

.button {
    float: right;
}

.align {
    text-align: right;
}

@media (min-width: 600px) {
    .flexParent {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 2px;
    }

    .sideBar {
        /* flex: 0; */
        width: 350px;
        margin: 2px;
        text-align: left;
    }

    .mainContent {
        flex: 1;
        overflow: scroll;
        margin: 2px;
    }
}

.forsearchResultsView {
    text-align: center;
    display: inline-table;
    width: 200px;
    vertical-align: top;
    margin: 20px;
}

.textbox {
    margin: 10px;
    padding: 10px;
    border: thick double #000000;
    /* display: inline-table; */
}

.title {
    font-size: 30px;
    font-family: fantasy;
    margin: 10px;
}

.image{
    display: inline-block;
    padding: 10px;
}

.button{
    padding: 10px;
}

.text {
    margin: 10px;
}